<div class="sticky-note">
    <div class="sticky-note__header">
      <div class="sticky-note__left">
        <i nz-icon nzType="plus-square" nzTheme="outline"></i>
      </div>
      <div class="sticky-note__right">
        <i nz-icon nzType="delete" nzTheme="outline"></i>
      </div>
    </div>
  
    <div class="sticky-note__body">
      <textarea>
        This is a simple text area component
      </textarea>
    </div>
  
    <div class="sticky-note__footer">
      <div>
        <i nz-icon nzType="bold" nzTheme="outline"></i>
      </div>
      <div>
        <i nz-icon nzType="italic" nzTheme="outline"></i>
      </div>
      <div>
        <i nz-icon nzType="underline" nzTheme="outline"></i>
      </div>
      <div>
        <i nz-icon nzType="strikethrough" nzTheme="outline"></i>
      </div>
      <div>
        <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
      </div>
      <div>
        <i nz-icon nzType="file-image" nzTheme="outline"></i>
      </div>
    </div>
  </div>
  